<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="bw_hooks_save_order_before" instance="Bwilliamson\Hooks\Observer\BeforeSave"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="bw_hooks_order" instance="Bwilliamson\Hooks\Observer\AfterOrder"/>
    </event>
    <event name="sales_order_status_history_save_after">
        <observer name="bw_hooks_before_order" instance="Bwilliamson\Hooks\Observer\AfterOrderComment"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="bw_hooks_new_invoice" instance="Bwilliamson\Hooks\Observer\AfterInvoice"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="bw_hooks_new_shipment" instance="Bwilliamson\Hooks\Observer\AfterShipment"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="bw_hooks_new_creditmemo" instance="Bwilliamson\Hooks\Observer\AfterCreditmemo"/>
    </event>
    <event name="customer_save_before">
        <observer name="bw_hooks_save_customer_before" instance="Bwilliamson\Hooks\Observer\BeforeSave"/>
    </event>
    <event name="customer_save_after">
        <observer name="bw_hooks_new_customer" instance="Bwilliamson\Hooks\Observer\AfterCustomer"/>
    </event>
    <event name="customer_delete_before">
        <observer name="bw_hooks_delete_customer" instance="Bwilliamson\Hooks\Observer\BeforeDeleteCustomer"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="bw_hooks_product_save_before" instance="Bwilliamson\Hooks\Observer\BeforeSave"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="bw_hooks_new_product" instance="Bwilliamson\Hooks\Observer\AfterProduct"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="bw_hooks_delete_product" instance="Bwilliamson\Hooks\Observer\BeforeDeleteProduct"/>
    </event>
    <event name="catalog_category_save_before">
        <observer name="bw_hooks_category_save_before" instance="Bwilliamson\Hooks\Observer\BeforeSave"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="bw_hooks_category_save_after" instance="Bwilliamson\Hooks\Observer\AfterCategory"/>
    </event>
    <event name="catalog_category_delete_before">
        <observer name="bw_hooks_delete_product" instance="Bwilliamson\Hooks\Observer\BeforeDeleteCategory"/>
    </event>
    <event name="customer_login">
        <observer name="bw_hooks_customer_login" instance="Bwilliamson\Hooks\Observer\CustomerLogin"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="bw_hooks_subscriber" instance="Bwilliamson\Hooks\Observer\Subscriber"/>
    </event>
</config>
